<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Graduates</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Year</th>
                        <th>Sex</th>
                        <th>Type of Course</th>
                        <th>N° of Graduates</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let graduates of graduatesList" class="text-center">
                        <td>{{graduates.id}}</td>
                        <td>{{graduates.year}}</td>
                        <td>{{graduates.sex}}</td>
                        <td>{{graduates.type_of_course}}</td>
                        <td>{{graduates.quantity}}</td>
                        <td>
                            <button (click)="Editar(graduates)" class="btn btn-warning">Editar</button>
                            <button (click)="Delete(graduates)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
<h2 style="text-align: center; margin-top: 20px;">Graduates From University First Degree Courses By Type Of Course in</h2>
<select matNativeControl [(ngModel)]="yearSelected" name="yearChart" (change)="ReDrawChart()" class="form-select" style="width: 100px; margin:auto;"> 
    <option *ngFor="let year of years" [value]="year" >
      {{year}}
    </option>
  </select>
</div>
<div *ngIf="!emptyResults" style="display: block;">
    <canvas mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
        style="max-width: 750px; margin: auto;">
    </canvas>
  </div>
<br>
<div *ngIf="emptyResults" class="alert alert-danger box-msg" style="text-align: center;" role="alert">
    <strong>No hay datos registrado este año</strong>
</div>