<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Graduates</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Year</th>
                        <th>Sex</th>
                        <th>Type of Course</th>
                        <th>N° of Graduates</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let graduates of graduatesList" class="text-center">
                        <td>{{graduates.id}}</td>
                        <td>{{graduates.year}}</td>
                        <td>{{graduates.sex}}</td>
                        <td>{{graduates.type_of_course}}</td>
                        <td>{{graduates.quantity}}</td>
                        <td>
                            <button class="btn btn-warning">Editar</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
