<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Add Graduates</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="margin5px">
                    <label for="">Year</label>
                    <input id="year" type="number"  class="form-control" [(ngModel)]="graduates.year" name="year">
                </div>
                <div class="margin5px"> 
                    <label for="">Sex</label>
                    <br>
                    <select class="form-select" matNativeControl [(ngModel)]="selectedSex" name="sex">
                        <option *ngFor="let sex of genres" [value]="sex.value" >
                          {{sex.viewValue}}
                        </option>
                      </select>
                </div>
                <div class="margin5px">
                    <label for="">Type Of Course</label>
                    <br>
                    <select class="form-select"  matNativeControl [(ngModel)]="selectedCourse" name="type_of_course">
                        <option *ngFor="let course of courses"  [value]="course.value" >
                          {{course.viewValue}}
                        </option>
                      </select>
                </div>
                <div class="margin5px">
                    <label for="">N° Of Graduates</label>
                    <input id="quantity" type="text" class="form-control"  [(ngModel)]="graduates.quantity" name="quantity" value="0">
                </div>
                <button (click)="Guardar()" style="margin-top: 10px;" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>
